.main-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin-bottom: 5rem;
}
.signin-form {
  width: 100%;
}

.main-form .form {
  width: 350px;
  padding-top: 2rem;
}

.main-form .form > input {
  background-color: white !important;
}
.main-form .form label {
  color: black;
  font-weight: 500;
}
.main-form .form strong {
  color: #09b1ba;
  font-weight: 400;
}
.signup-btn {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 18px;
  width: 45%;
  height: 45px;
  text-align: center !important;
  background-color: #09b1ba;
}
.signup-btn:hover {
  color: white;
}
