.privacypolicy-page {
  background-color: #ebedee;
  width: 100%;
  height: max-content;
  padding-top: 20px;
}
.pp-box {
  width: 900px;
  padding: 20px;
  margin: 0 auto;
  background-color: white;
  height: max-content;
}
.pp-box strong {
  color: #09b1ba;
  font-weight: 400;
}
.pp-box a:hover {
  text-decoration: #09b1ba underline;
}
.num-cirlce {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ddd;
  color: white;
  text-align: center;
  font-size: 12px;
}

.pp-box > h2,
h3,
h4 {
  margin-top: 1rem;
}
.pp-box > p {
  margin-top: 1rem;
  color: #666666;
}
.pp-box li {
  line-height: 1.8;
}
.light-color {
  color: #666666;
}

@media (max-width: 960px) {
  .pp-box {
    width: 97%;
  }
}
